doctype html
html(lang="ru")
head
    meta(charset="UTF-8")
    title Главная
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="fonts/fontawesome/css/font-awesome.min.css")
    link(rel="stylesheet" href="css/style.css")
body

    include include/header
    include include/breadcrumb







    include include/subscribe
    include include/footernav
    include include/footercopyright