header
    div.container-full.topline
        div.container
            div.block.topline-content
                |
                |
                a.logo(href="#")
                    img(src="img/logo.png" alt="logo")
                    | bran
                    span d
                form.searchform(action="#")
                    div.dropdown
                        a.browsebutton(href="#") Browse
                        div.dropdown-child
                            div.dropdown-child__menu
                                p.dropdown-header women
                                div.dropdown-child__nav
                                    -
                                        var list = ["Dresses", "Tops", "Sweaters/Knits", "Jackets/Coats", "Blazers", "Denim", "Leggins/Pants", "Skirts/Shorts", "Accessories"]
                                    each item in list
                                        a.dropdown-link(href = "#")= item
                                p.dropdown-header men
                                div.dropdown-child__nav
                                    -
                                        var list = ["Tees/Tank tops", "Shirts/Polos", "Sweaters", "Sweatshirts/Hoodies", "Blazers", "Jackets/vests"]
                                    each item in list
                                        a.dropdown-link(href = "#")= item

                    input(type="text" placeholder="Search for item...")
                    a(href="#").searchbutton
                        i.fa.fa-search(aria-hidden="true")
                img.basket(src="img/Forma_1.png" alt="basket")
                a.myaccount(href="#") My Account
    div.container
        nav.block.topnav
            -
                var list = ["home", "man", "women", "kids", "accoseriese", "featured", "hot deals"]
            each item in list
                a(href="#")= item